# Data Science Jobs Scraper

In [1]:
import re
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [11]:
skills_df = pd.read_csv("ds_skills.csv")
print("Total Skills: ", skills_df.shape[0], " technologies")

skills_df.head()

Total Skills:  50  technologies

        Skill     Category
0      Python  Programming
1           R  Programming
2         SQL     Database
3        Java  Programming
4  JavaScript  Programming

In [14]:
skills = skills_df['Skill'].to_list()
print(skills)

['Python', 'R', 'SQL', 'Java', 'JavaScript', 'C', 'Scala', 'Julia', 'SAS', 'MATLAB', 'Matplotlib', 'Seaborn', 'Bokeh', 'Plotly', 'ggplot', 'Numpy', 'Scipy', 'Pandas', 'Scikit-Learn', 'Keras', 'PyTorch', 'XGBoost', 'Tensorflow', 'AWS', 'Azure', 'Haskel', 'Swift', 'Octave', 'Perl', 'Lisp', 'Excel', 'Power BI', 'Tableau', 'Google Cloud', 'Spark', 'Hadoop', 'Git', 'SPSS', 'Stata', 'Pig', 'Hbase', 'Docker', 'Kubernetes', 'Statsmodels', 'NLTK', 'Scrapy', 'Beautiful Soup', 'Selenium', 'Github', 'NoSQL']

## Glassdoor

## Indeed

In [16]:
indeed_list = []

for term in skills:
    url = f'https://www.indeed.com/jobs?q=%22data+scientist%22+%22{term}%22&l=United+States'
    
    try:
        r = requests.get(url)
        soup = bs(r.text, 'html.parser')
        count_str = soup.find('div', id="searchCountPages").get_text()
        numb = count_str.split()
        indeed_list.append(numb[-2])
    except Exception as e:
        print(f'error: {e}')
        
indeed_list

error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined
error: name 'bs' is not defined

[]

## Monster