# Data Science Jobs Scraper

In [74]:
import re
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

### Target Skills

In [98]:
df = pd.read_csv("ds_skills.csv")

df["Skill"] = df["Skill"].str.lower()
df["Category"] = df["Category"].str.lower()
df['total_jobs'] = 0

print("Total Skills: ", df.shape[0], " technologies")
df.head()

Total Skills:  50  technologies

        Skill     Category  total_jobs
0      python  programming           0
1           r  programming           0
2         sql     database           0
3        java  programming           0
4  javascript  programming           0

In [76]:
skills = df['Skill'].to_list()

print(skills)

['python', 'r', 'sql', 'java', 'javascript', 'c', 'scala', 'julia', 'sas', 'matlab', 'matplotlib', 'seaborn', 'bokeh', 'plotly', 'ggplot', 'numpy', 'scipy', 'pandas', 'scikit learn', 'keras', 'pytorch', 'xgboost', 'tensorflow', 'aws', 'azure', 'haskel', 'swift', 'octave', 'perl', 'lisp', 'excel', 'power bi', 'tableau', 'google cloud', 'spark', 'hadoop', 'git', 'spss', 'stata', 'pig', 'hbase', 'docker', 'kubernetes', 'statsmodels', 'nltk', 'scrapy', 'beautiful soup', 'selenium', 'github', 'nosql']

## Indeed

In [88]:
url = f'https://www.indeed.com/jobs?q=%22data+scientist%22&l=United+States'

try:
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    count_str = soup.find('div', id="searchCountPages").get_text()
    numb = count_str.split()
    indeed_total = int(re.sub(",", "", numb[-2]))

except Exception as e:
    print(f'error: {e}')

print(indeed_total, "Data Science Jobs")

4773 Data Science Jobs

        Skill     Category  total_jobs
0      python  programming        4773
1           r  programming        4773
2         sql     database        4773
3        java  programming        4773
4  javascript  programming        4773

In [77]:
indeed_list = []

for skill in skills:
    url = f'https://www.indeed.com/jobs?q=%22data+scientist%22+%22{skill}%22&l=United+States'
    
    try:
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')
        count_str = soup.find('div', id="searchCountPages").get_text()
        numb = count_str.split()
        indeed_list.append(numb[-2])
    except Exception as e:
        print(f'error: {e}')
        
print(indeed_list)

['3,640', '2,474', '2,629', '1,070', '276', '425', '645', '65', '723', '449', '128', '40', '84', '56', '87', '307', '156', '363', '426', '273', '406', '65', '683', '1,107', '487', '1', '10', '40', '106', '2', '507', '241', '1,081', '179', '1,238', '885', '259', '165', '62', '143', '105', '281', '188', '35', '42', '2', '1', '7', '172', '323']

In [99]:
indeed = []

for i in indeed_list:
    indeed.append(int(re.sub(",", "", i)))

df['total_jobs'] = df['total_jobs'] + indeed_total
df['indeed'] = indeed
df.head()

        Skill     Category  total_jobs  indeed
0      python  programming        4773    3640
1           r  programming        4773    2474
2         sql     database        4773    2629
3        java  programming        4773    1070
4  javascript  programming        4773     276

## Simply Hired

In [93]:
url = f'https://www.simplyhired.com/search?q=%22data+scientist%22&l=United+States'
    
try:
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    count_str = soup.find('span', class_="CategoryPath-total").get_text()
    simply_total = int(re.sub(",", "", count_str))

except Exception as e:
    print(f'error: {e}')

print(simply_total, "Data Science Jobs")

3518 Data Science Jobs

In [96]:
simply_list = []

for skill in skills:
    url = f'https://www.simplyhired.com/search?q=%22data+scientist%22+%22{skill}%22&l=United+States'
    
    try:
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')
        count_str = soup.find('span', class_="CategoryPath-total").get_text()
        simply_list.append(count_str)
    except Exception as e:
        print(f'error: {e}')
        
print(simply_list)

['2,707', '1,814', '1,986', '765', '179', '325', '453', '60', '534', '319', '94', '29', '46', '53', '72', '227', '122', '293', '288', '214', '303', '47', '526', '788', '392', '1', '9', '13', '91', '2', '411', '201', '755', '121', '926', '690', '218', '131', '55', '108', '87', '191', '155', '24', '38', '2', '1', '7', '137', '265']

In [100]:
simply = []

for i in simply_list:
    simply.append(int(re.sub(",", "", i)))

df['total_jobs'] = df['total_jobs'] + simply_total
df['simply'] = simply
df.head()

        Skill     Category  total_jobs  indeed  simply
0      python  programming        8291    3640    2707
1           r  programming        8291    2474    1814
2         sql     database        8291    2629    1986
3        java  programming        8291    1070     765
4  javascript  programming        8291     276     179

## Glassdoor

In [105]:
url = f'https://www.glassdoor.com/Job/jobs.htm?sc.keyword="data+scientist"+"%22python%22"&dropdown=0'
    
try:
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    count_str = soup.find('p', class_="jobsCount hidden").get_text()
    print(count_str)
    #simply_total = int(re.sub(",", "", count_str))

except Exception as e:
    print(f'error: {e}')

#print(simply_total, "Data Science Jobs")

error: 'NoneType' object has no attribute 'get_text'