In [6]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

In [7]:
data = pd.read_csv("/Users/cyrilmichino/Documents/GitHub/on-demand-tech-skills/Web Dev/wd_skills.csv")
data.head(10)

        Skill     Category
0  JavaScript  Programming
1      Python  Programming
2        Java  Programming
3       Scala  Programming
4        Rust  Programming
5           C  Programming
6          Go  Programming
7         Php  Programming
8        Ruby  Programming
9       Swift  Programming

In [5]:
data.shape

(60, 2)

In [23]:
skill = "python"

url = "https://www.indeed.com/jobs?q=web+development+" + skill + "&l=New+York%2C+NY"

r = requests.get(url)
r.status_code

200

In [24]:
soup = BeautifulSoup(r.text, 'html.parser')
webdata = str(soup.find(id="searchCountPages"))
jobsstr = re.findall("Page 1 of ([0-9,]+) jobs", webdata)[0]
jobs = re.sub(",", "", jobsstr)

In [25]:
jobs

'1034'